<script>
    if (!window.localStorage.getItem('doc_theme')) {
        window.localStorage.setItem('doc_theme', 'light');
        location.reload();
    }
</script>
<style>
    /** Fix bug that adds a small top margin to the logo */
    #docs-site-logo > span > img {
        float: left;
    }

    /** Changes the style of the text block next to the logo */
    #docs-site-header .hidden.px-2.py-1.ml-4.text-sm.font-semibold.leading-none.text-root-logo-label-text.bg-root-logo-label-bg.rounded-sm {
        background-color: #235AFF !important;
        color: #fff;
    }

    html.dark #docs-site-header .hidden.px-2.py-1.ml-4.text-sm.font-semibold.leading-none.text-root-logo-label-text.bg-root-logo-label-bg.rounded-sm {
        background-color: #fff !important;
        color: #1E1E1E;
    }

    code {
        font-size: 8.5pt !important;
    }

    /** A way to match the icons on the left menu sidebar so they change to white in dark mode */
    html.dark .flex.shrink-0.items-center.justify-center > img {
        filter: invert(.8);
    }

    /** A way to match custom icons in other elements so they change to white in dark mode */
    html.dark img.custom-icon {
        filter: invert(.8);
    }
</style>
