name: Publish Retype powered website to GitHub Pages
on:
  workflow_dispatch:
  push:
    branches:
      - retype

jobs:
  publish:
    runs-on: self-hosted
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: retypeapp/action-build@v3.10.0

      - uses: retypeapp/action-github-pages@latest
        with:
          update-branch: true
